fastapi
uvicorn
pydantic
python-multipart

pandas
numpy

prophet
pulp

matplotlib
seaborn

langchain
langchain-core
langchain-community
langchain-groq
sentence-transformers
faiss-cpu

typing_extensions

scikit-learn

tqdm

